extends layout

block content
    #banner.page-header
        .row
            .col-md-6.col-sm-12
                h1= title 
    .row
        .col-md-6.col-sm-12
            p
            
            | Loc8r was created to help people find a place to grab some wifi.
            |<br /><br
/>
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem ac nisi dignissim accumsan. 